<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kay's Timber and Thread Studio.- Furnitures Hub</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Kay's Timber</h1>
        <nav>
            <a href="#home">Home</a>
            <a href="#products">Products</a>
            <a href="https://www.instagram.com/furniture.plug.ke?igsh=a2NwZ25uZzV4ZzNi">Instagram</a>
            <a href="https://www.tiktok.com/@msmaviti" target="_blank">TikTok</a>
        </nav>
    </header>

    <section id="home" class="hero">
        <h2>Welcome to Kay's Timber</h2>
        <p>Elegant and style for your home and office</p>
        <a href="/products">
    <button>Shop Now</button>
        </a>
    </section>
<section id="products">
    <h2>Featured Products</h2>
    <div class="product-grid">
        {% for item in furniture_items %}
            <div class="product-card">
                <img src="{{ url_for('static', filename='images/' ~ item.image_filename) }}" alt="{{ item.name }}">
                <h3>{{ item.name }}</h3>
                <p>{{ item.description }}</p>
                <p><strong>Price:</strong> KES {{ item.price }}</p>
            </div>
        {% endfor %}
        
        <div class="product-card">
            <img src="{{ url_for('static', filename='images/7seater.png') }}" alt="7 Seater">
            <h3>7 Seater</h3>
            <p>Designed with family in mind</p>
        </div>
        <div class="product-card">
            <img src="{{ url_for('static', filename='images/luxurious.png') }}" alt="Luxurious Set">
            <h3>Luxurious Set</h3>
            <p>Experience the best in the luxury world</p>
        </div>
        <div class="product-card">
            <img src="{{ url_for('static', filename='images/luxurious.png') }}" alt="Luxurious Set">
            <h3>Luxurious Set</h3>
            <p>Experience the best in the luxury world</p>
        </div>
        
        <div class="product-card">
            <img src="{{ url_for('static', filename='images/luxurious.png') }}" alt="Luxurious Set">
            <h3>Luxurious Set</h3>
            <p>Experience the best in the luxury world</p>
        </div>
         <div class="product-card">
            <img src="{{ url_for('static', filename='images/7seater.png') }}" alt="7 Seater">
            <h3>7 Seater</h3>
            <p>Designed with family in mind</p>
        </div>
         <div class="product-card">
            <img src="{{ url_for('static', filename='images/7seater.png') }}" alt="7 Seater">
            <h3>7 Seater</h3>
            <p>Designed with family in mind</p>
        </div>
    </div>
</section>
    {% include 'footer.html' %}
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>

