<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    <h2>Furniture Products</h2>
    {% for product in products %}
        <div>
            <h3>{{ product.name }}</h3>
            <img src="{{ url_for('static', filename='images/' + product.image_filename) }}" width="200">
            <p>{{ product.description }}</p>
            <p>Price: ${{ product.price }}</p>
        </div>
    {% endfor %}
    <br>
</body>
</html>
